$fonts-headline: "arial narrow", Arial, Verdana, sans-serif;
$fonts-body: verdana, arial, sans-serif;
$background-color: #daede2;
$primary: #77c4d3;
$accent1: #ea2e49;
$accent2: rgba(246, 247, 146, 0.9);
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #333;
$text-light: #fff;


@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Flow+Circular&family=Megrim&family=Nabla&family=Noto+Sans+Canadian+Aboriginal:wght@100;200;300;400;500;600;800;900&family=Noto+Sans+Zanabazar+Square&family=Nuosu+SIL&display=swap');
$Cinczel-Decorative: 'Cinzel Decorative', cursive;
$Flow-Circular: 'Flow Circular', cursive;
$Megrim: 'Megrim', cursive;
$Nabla: 'Nabla', cursive;
$Canadian-Aboriginal: 'Noto Sans Canadian Aboriginal', sans-serif;
$Zanabazar-Square: 'Noto Sans Zanabazar Square', sans-serif;
$Nuosu-SIL: 'Nuosu SIL', serif;

$polished-pine: #5aac95ff;
$keppel: #63bda4ff;
$middle-blue-green: #9edec7ff;
$aero-blue: #d9ffeaff;
$lime-green: #26d701ff;
$cadet-blue: #62afb7ff;
$red-crayola: #f20553ff;
$corn: #ffec47ff;